@import "tailwindcss";

.cool-btn {
    @apply cursor-pointer transition duration-200 ease-in-out text-white font-bold hover:bg-white hover:text-black;
}

.login-btn {
    @apply cursor-pointer text-white bg-linear-to-r from-stone-400 via-stone-500 to-stone-600 hover:bg-linear-to-br rounded-2xl text-center leading-5;
}

.add-btn {
    @apply cursor-pointer text-white bg-linear-to-r from-green-400 via-green-500 to-green-600 hover:bg-linear-to-br font-medium text-sm px-2 py-1.5 rounded-2xl text-center leading-5;
}

.update-btn {
    @apply cursor-pointer text-white bg-linear-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-linear-to-br font-medium text-sm px-2 py-1.5 rounded-2xl text-center leading-5;
}

.delete-btn {
    @apply cursor-pointer text-white bg-linear-to-r from-red-400 via-red-500 to-red-600 hover:bg-linear-to-br font-medium text-sm px-2 py-1.5 rounded-2xl text-center leading-5;
}

.cancel-btn {
    @apply cursor-pointer text-white bg-linear-to-r from-stone-300 via-stone-400 to-stone-500 hover:bg-linear-to-br font-medium text-sm px-2 py-1.5 rounded-2xl text-center leading-5;
}

.heart-icon {
    @apply text-gray-400 fill-none stroke-current;
}

.like-btn.liked .heart-icon {
    @apply text-red-500 fill-current stroke-none;
}

.bg-hex {
    background-color: #1a1a1a;
    background-image: url("../images/background.jpg");
}
