<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/assets/css/output.css"/>
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			<nav class="relative flex justify-center bg-black">
				<p class="absolute left-4 px-2.5 py-4.5 text-2xl text-white font-bold">Bienvenue
					{% if username %}{{username}}{% endif %} !</p>
				<div class="flex">
					<a class="px-2.5 py-4.5 text-2xl cool-btn" href="/home">Accueil</a>
					<a class="px-2.5 py-4.5 text-2xl cool-btn" href="/books">Livres</a>
					<a class="px-2.5 py-4.5 text-2xl cool-btn" href="/authors">Auteurs</a>
					<a class="px-2.5 py-4.5 text-2xl cool-btn" href="/categories">Catégories</a>
				</div>
				<a class="absolute right-0 px-2.5 py-4.5 text-2xl cool-btn" href="/logout">Déconnexion</a>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
