<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/output.css">
		<title>Bibliothèque - Login</title>
	</head>
	<body class="bg-hex flex h-screen justify-center bg-stone-200">
		<div class="flex flex-col justify-center m-auto">
			<div class="flex flex-col items-center mb-7">
				<p class="self-start text-xl my-2 pl-7 text-white">
					La Big
					<span class="font-semibold">Bibliothèque</span>
					- ECF
				</p>
				<div class="w-86 bg-white rounded-2xl p-7">
					<form action="/login" method="post" class="">
						{% if error %}
							<p class="text-red-500">
								{{ error }}
							</p>
						{% endif %}
						<div class="flex flex-col mb-3">
							<label class="text-xl mb-1" for="username">Login Utilisateur</label>
							<input class="border-2 border-gray-300 px-3 py-1" type="text" name="username" placeholder="Login utilisateur">
						</div>
						<div class="flex flex-col mb-3">
							<label class="text-xl mb-1" for="password">Mot de passe</label>
							<input class="border-2 border-gray-300 px-3 py-1" type="password" name="password" placeholder="Mot de passe">
						</div>
						<input class="py-3 font-medium text-xl login-btn w-full hover:cursor-pointer hover:outline-2" type="submit" value="LOGIN">
					</form>
				</div>
			</div>
		</body>
	</body>
</html>
